body {
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 0;
   padding: 0;

}
.rpi {
    width: 310px;
    max-width: 500px;
    min-width: 200px;
    margin: 12px;
    background-color:antiquewhite;
}
.rpi > div {
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.rpi  div.rpikey {
    width: 30%;
    min-width: 29%;
    max-width: 150px;
    display: inline;
}
.rpi  div.rpivalue {
    width: 70%;
    min-width: 69%;
    display: inline;
}
.rpi > .rpi-sn {
    font-weight: bold;
}